
@model  VirtualBank.ViewModel.DepositVM

<h2>Deposit</h2>
<hr>
@using (Html.BeginForm("Deposit", "Customer", FormMethod.Post, new { @id = "SubmitForm", @onsubmit = "submithandeler();" }))
{
    @Html.Hidden("customer_id")
    <div class="form-group">
        <div class="input-group" style="width: 200px;">
            @Html.LabelFor(m => m.amount):
            @Html.TextBoxFor(m => m.amount, null, new { @Id = "amount", @class = "form-control input-group-sm numericType ", @tabindex = 1 })
            @Html.ValidationMessageFor(m => m.amount, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label for="desc" class="col-form-label">Description:</label>
        <div class="input-group" style="width: 200px;">
            @Html.TextBox("desc", null, new { @class = "form-control input-group-sm", style = "width:150px", @tabindex = 2 })

            @Html.ValidationMessageFor(m => m.desc, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label for="desc_2" class="col-form-label">Description:</label>
        <div class="input-group"  style="width: 200px;">
            @Html.TextBox("desc_2", null, new { @class = "form-control input-group-sm", style = "width:150px", @tabindex = 3 })

            @Html.ValidationMessageFor(m => m.desc_2, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group form-control-md">
        <button type="submit" class="btn btn-primary" id="btnsubmit" hidden>Confirm</button>
        @Html.ActionLink("Cancel", "Main", new { Controller = "Customer" }, new { @id = "btnCancel", @class = "btn btn-danger" })
    </div>
}
@Html.Partial("_ConfirmModal")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval", "~/bundles/toastr/js")
    <script>
        /** Initial **/

        $(document).ready(function () {
            $('#amount').val("");
            $('#amount').focus();
        });


        function submithandeler() {
            event.preventDefault();
            if ($('#SubmitForm').validate().form()) {
                var num = $("#amount").val();
                $("#content").html("Deposit amount : $ " + num);
                $("#confirmModal").modal('show');
            }
        };
        function SubmitPage() {
            $("#ConfirmOk").attr('disabled', 'disabled');
            $('#SubmitForm').submit();
        }
    </script>
}