@*@using HTMLHelper.Helper*@
@model VirtualBank.ViewModel.MainDisplayVM
<h2>Main</h2>
<hr />
@if (Model != null)
{
    <div class="row">
        <div class="col-4">
            @Html.ActionLink("Deposit", "Deposit", "Customer", new { @customer_id = Model.customer_Id }, new { @id = "btnDeposite", @class = "btn btn-primary" })

            @Html.ActionLink("Transfer", "Transfer", "Customer", new { @customer_id = Model.customer_Id }, new { @id = "btnTransfer", @class = "btn btn-primary" })
        </div>
    </div>
        <h3>Hello !  @Model.last_name </h3>
        <h3>Balance :  @Model.balance </h3>
        <h3>Account Detail : </h3>
    if (Model.TrxDetail != null)
    {
        <div id="DataList">

            <div id="DetailList">
                @Html.Partial("_TransactionDetail", Model.TrxDetail)
            </div>

        </div>
    }

}


        <link href="~/Helper/toastr/build/toastr.min.css" rel="stylesheet" />
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval", "~/bundles/toastr/js")
            <script type="text/javascript">
@Html.ToastrOptions("toast-top-center", true, false);
              function ReloadDetailList(pag) {

                $.ajax({
                    url: '@Url.Action("_TransactionDetail", "Customer")',
                    data: {
                        page: pag,
                        customerId: @Model.customer_Id
                    },
                    type: 'get',
                    cache: false,
                    dataType: 'html',
                    success: function (data) {
                        $('#DetailList').html(data);

                    }
                });
            }
            </script>
        }
