<h2>Login</h2>
<hr>
<br>

@using (Html.BeginForm("Login", "Login", FormMethod.Post, new { @id = "Form1" }))
{
    <div class="row">
        <label> IBAN</label>
        @Html.TextBox("IBAN", null, new { @class = "form-control input-sm", @Style = "width:200px" })
    </div>
    <div class="row">
        <label> Password</label>
        @Html.Password("passwords", null, new { @class = "form-control input-sm", @Style = "width:100px" })
    </div>
    <br>
    <div>
        <label id="ErrorMesg" style="color:red">@ViewBag.ErrorMesg</label>
    </div>
    <div class="row">
        <button type="submit" class="btn btn-primary" id="btSave"> LOGIN </button>
        <button type="button" class="btn btn-danger" id="btRegist" onclick="location.href='@Url.Action("Register", "Login", new {area="Login" })'"> Register </button>
    </div>
}


<style type="text/css">
    .error {
        color: red;
    }
</style>

<link href="~/Helper/toastr/build/toastr.min.css" rel="stylesheet" />
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval", "~/bundles/toastr/js")
<script type="text/javascript">
@Html.ToastrOptions("toast-top-center", true, false);
        /** Initial **/
        $(document).ready(function () {
            $('#IBAN').focus();
        });

        $("#Form1").validate({
            rules: {
                IBAN: {
                    required: true,
                    maxlength: 34
                },
                passwords: {
                    required: true
                }
            },
            submitHandler: function (form) {
                $("#btSave").attr('disabled', 'disabled');
                form.submit();
            }
        });


</script>
}

